*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: "Perpetua";
    background-color: white;
}
body{
    width: 100%;
    height: 100%;
}
h2 {
    color: black;
    font-size: 4em;
    background-color: transparent;
}

h3 {
    color: black;
    font-size: 30px;
    text-align: center;
    background-color: transparent;

}
p {
    font-size: 1.25vw;

}

.main_section{
    justify-content: space-between;
    align-items: center;
    height: 100vh;
}
.main_section_title {
    float: left;
    width: 35%;
    height: 100%;
    background-color: black;
    background-image: url("https://i.pinimg.com/originals/1e/2b/7f/1e2b7f8efcadba09b4e11e4a446af787.jpg");
    padding: 5%;
    display: grid;
    place-content: center;
    grid-template-rows: 1fr auto;
}
.main_section_title h2 {
    color: white;
    background-color: transparent;
}

.main_section_navigator {
    width: 65%;
    height: 100%;
    border-left: #211f1f 2px dashed;
    border-bottom: #211f1f 2px solid;
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-template-rows: 1fr 1fr 1fr;
    padding: 10%;
    padding-top: 5%;
}
.ddd{
    display: grid;
    place-items: center;
    border-radius: 10px;
    min-height: 150px;
    max-width: 300px;
    background-color: pink;
    padding: 20px;
    position: relative;
    background-position: center center;
    background-size: cover;
    margin: 20px;
    transition: all 1s ease;
}
.ddd p{
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-content: center;
    text-align: center;
    background-image: none;
    margin: auto;
}
.ddd p a{
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    color: blue;
    text-decoration: none;
    align-content: center;
    background-image: none;
    background-color: pink;
    /* TODO */
}
.video-class {
    width: 100%;
    aspect-ratio: 16/9;
    margin-bottom: 20%;
    border: none;

}
.link:link {
    color:  black;
    background-color: transparent;
    /*text-decoration: underline;*/
}
.link:visited {
    color:  black;
    background-color: transparent;
    /*text-decoration: underline;*/
}
.link:hover {
    color: white;
    background-color: transparent;
    text-decoration: none;
}
.link:active {
    color: black;
    background-color: transparent;
    text-decoration: none;
}
.link{
    font-size: 1.5vw;
    /*font-family: AppleMyungjo;*/
    font-weight: bold;
    text-align: center;
    padding: 5px;
    margin-top: 100vh;
    height: 10%;
    display: compact;
}
.line_navigator {
    width: 100%;
    height: 33%;

    padding: 0;
}
.nav_elem_left {
    float: left;
    width: 40%;
    height: 50%;
    padding: 5%;
    margin: 4%;
    border: 2px dashed  black;
    border-radius: 7px;
    text-align: center;
    box-shadow: 0 10px 4px rgba(0,0,0,0.12), 0 5px 3px rgba(0,0,0,0.24);
    /*text-decoration: underline;*/
    /*<!-- Top Right Bottom Left -->*/


}
.nav_elem_left:hover{
    color: white;
    background-color:black;
    cursor: pointer;
    border: none;
    /*padding: 16px 32px;*/
    color: white;
    font-size: 24px;
    /*font-size: 24px;*/
    position: relative;
    border-radius: 12px;
    z-index: 0;

}
.nav_elem_right {
    float: right;
    width: 40%;
    height: 50%;
    margin: 4%;
    padding: 5%;
    border: 2px dashed black  ;
    border-radius: 7px;
    text-align: center;
    box-shadow: 0 10px 4px rgba(0,0,0,0.12), 0 5px 3px rgba(0,0,0,0.24);

    /*text-decoration: underline;*/
    /*background: black;*/

}
.nav_elem_right:hover{
    color: white;
    background-color: black;
    cursor: pointer;
    border: none;
    /*padding: 16px 32px;*/
    color: black;
    /*font-size: 24px;*/
    font-weight: bold;
    position: relative;
    border-radius: 12px;
    z-index: 0;
}
.gallery_1{
    width: 100%;
    height: 100vh;
}
.gallery_title_right{
    float: right;
    width: 40%;
    background-color: black;
    padding: 2%;
    height: 100%;
    color: white;

}
.gallery_text_left{
    float: left;
    width: 60%;
    padding: 2%;
    height: 100%;
    display: grid;
    place-content: center;
}
.gallery_text_left div{
    display: grid;
    place-content: center;
    padding: 10px;
    border: 1px dashed black;

}

.slider{
    aspect-ratio: auto;
    height: 80%;
    position: relative;
    display: flex;
    overflow-y: hidden;
    overflow-x: scroll;
    scroll-snap-type: x mandatory;

}
.slider img{
    width: 100%;
    left: 0;
    position: sticky;
    object-fit: cover;
    border-radius: 5px;
    scroll-snap-align: center;
}

.gallery_2 {
    width: 100%;
    height: 100vh;
}

.gallery_title_left{
    float: left;
    width: 40%;
    height: 100%;
    background-color:  black;
    padding: 2%;
}
.gallery_text_right{
    float: left;
    width: 60%;
    padding: 2%;
    height: 100%;
    display: grid;
    place-content: center;
}
.gallery_text_right div {
    display: grid;
    place-content: center;
    padding: 10px;
    border: 10px solid black;
}


#title_first{
    background-color: black;
    color: white}

#title_second{
    background-color: black;
    color: white}

#title_third{
    background-color: black;
    color: white}



.gallery_3{
    width: 100%;
    height: 100vh;
}

.gallery_3 .gallery_text_left{
    padding-bottom: 10% ;
}

footer {
    clear: both;
    position: fixed;
    bottom: 0;
    width: 100%;
    height: 5%;
    background-color: #1c1c1c;
    color: #e9e7e0;
    text-align: center;
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
}

footer p  {
    background-color: black;
    margin: auto;

}

footer p a {
    background-color: black;
    color: white;
    text-decoration: transparent;
}





button{
    background: black;
    cursor: pointer;
    border: none;
    padding: 16px 32px;
    color: white;
    font-size: 24px;
    font-weight: bold;
    position: relative;
    border-radius: 12px;
    z-index: 0;
}

.nav_elem_right:before  {
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    z-index: -1;
    width: 100%;
    height: 100%;
    background: linear-gradient(45deg, #d6a77e, #ecb297, rgb(214, 141, 126), #e18d74, #d6a77e, #ecb297, rgb(214, 141, 126),  #e18d74);
    background-size: 800%;
    border-radius: 10px;
    filter: blur(8px);
    animation: glowing 40s linear infinite;
}

.nav_elem_left:before  {
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    z-index: -1;
    width: 100%;
    height: 100%;
    background: linear-gradient(45deg, #d6a77e, #ecb297, rgb(214, 141, 126), #e18d74, #d6a77e, #ecb297, rgb(214, 141, 126),  #e18d74);
    background-size: 800%;
    border-radius: 10px;
    filter: blur(8px);
    animation: glowing 40s linear infinite;
}

@keyframes glowing {
    0% {
        background-position: 0 0;
    }
    50% {
        background-position: 400% 0;
    }
    100% {
        background-position: 0 0;
    }
}


@media only-screen and (max-width: 768px) and (min-width: 600px){
    p{
        font-size: 4vw;
    }
    .main_section{
        display: inline;
    }
    .main_section_title{
        width: 100%;
    }
    .main_section_navigator{
        width: 100%;
    }

    .link{
        font-size: 4vw;
    }
    .gallery_1{
        display: inline;
    }
    .gallery_text_left{
        width: 100%;
        height: auto;
    }
    .gallery_title_right{
        width: 100%;
    }
    .gallery_2{
        display: inline;
    }
    .gallery_title_left{
        width: 100%;
    }
    .gallery_text_right{
        width: 100%;
        height: auto;
    }
    .gallery_3{
        display: inline;
    }
    .gallery_3 .gallery_text_left{
        padding-bottom: 10%;
        text-align: justify;
    }

}


@media screen and (max-width: 800px){
    p{
        font-size: 4vw;
    }
    .main_section{
        display: inline;
    }
    .main_section_title{
        width: 100%;
    }
    .main_section_navigator{
        width: 100%;
    }
    .link{
        font-size: 4vw;
    }
    .gallery_1{
        display: inline;
    }
    .gallery_text_left{
        width: 100%;
        height: auto;
    }
    .gallery_title_right{
        width: 100%;
    }
    .gallery_2{
        display: inline;
    }
    .gallery_title_left{
        width: 100%;
    }
    .gallery_text_right{
        width: 100%;
        height: auto;
    }
    .gallery_3{
        display: inline;
    }
    .gallery_3 .gallery_text_left{
        padding-bottom: 10%;
        text-align: justify;
    }

}
