*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
body{
    width: 100%;
    height: 100%;
}
h1 {
    color: black;
    font-size: 4em;
}
h2{
    color: black;
    font-size: 3em;
}
h3 {
    color: black;
    font-size: 30px;
    /*font-family: "Apple Symbols";*/
}


.main_section{
    display: flex;
    justify-content: space-between;
    align-items: center;
    height: 100vh;

}
.main_section_title {
    float: left;
    width: 40%;
    height: 100%;
    background-color: purple;
    padding: 5%;

}
.main_section_navigator {
    float: right;
    width: 60%;
    background-color: brown;
    padding: 5%;
    height: 100%;
}
.video-class {
    width: 100%;

}


.link:link {
    color: black;
    background-color: transparent;
    text-decoration: underline;
}
.link:visited {
    color: pink;
    background-color: transparent;
    text-decoration: underline;
}
.link:hover {
    color: black;
    background-color: transparent;
    text-decoration: none;
}
.link:active {
    color: black;
    background-color: transparent;
    text-decoration: none;
}


.link{
    font-size: 15px;
    /*font-family: AppleMyungjo;*/
    font-weight: bold;
    text-align: center;
    padding: 5px;
    margin-top: 100vh;
    height: 10%;
    display: compact;
}

.line_navigator {
    width: 100%;
    height: 33%;
    background-color: #f1f1f1;
    padding: 0;
}
.nav_elem_left {
    float: left;
    width: 40%;
    height: 50%;
    background-color: yellow;
    padding: 5%;
    margin: 4%;
    border: 3px solid black ;
    text-align: center;
    box-shadow: 0 10px 4px rgba(0,0,0,0.12), 0 5px 3px rgba(0,0,0,0.24);
    text-decoration: underline;
    /*<!-- Top Right Bottom Left -->*/
}
.nav_elem_right {
    float: right;
    width: 40%;
    height: 50%;
    background-color: green;
    margin: 4%;
    padding: 5%;
    border: 3px solid black ;
    text-align: center;
    box-shadow: 0 10px 4px rgba(0,0,0,0.12), 0 5px 3px rgba(0,0,0,0.24);
    text-decoration: underline;
}


#section_2{
    width: 100%;
    height: 100vh;
    background-color: #f1f1f1;
}
.gallery_title_right{
    float: right;
    width: 40%;
    background-color: greenyellow;
    padding: 2%;
    height: 100%;

}
.gallery_text_left{
    float: left;
    width: 60%;
    background-color: dodgerblue;
    padding: 2%;
    height: 100%;
}
.slider{
    aspect-ratio: auto;
    width: 80%;
    position: relative;
    display: flex;
    overflow-y: hidden;
    overflow-x: scroll;
    scroll-snap-type: x mandatory;
}
.slider img{
    width: 100%;
    left: 0;
    position: sticky;
    object-fit: cover;
    border-radius: 5px;
    scroll-snap-align: center;
}


.gallery_2 {
    width: 100%;
    height: 100vh;
    background-color: #f1f1f1;
}

.gallery_title_left{
    float: left;
    width: 40%;
    height: 100%;
    background-color: orangered;
    padding: 2%;
}

.gallery_text_right{
    float: right;
    width: 60%;
    height: 100%;
    background-color: lightcoral;
    padding: 2%;
}


.gallery_3{
    width: 100%;
    height: 100vh;
    background-color: #f1f1f1;
}

footer{
    clear: both;
    position: fixed;
    bottom: 0;
    width: 100%;
    height: 5%;
    background-color: aquamarine;
    align-self: end;
}


@media  screen and (max-width: 800px){

    .main_section{
        display: inline;
    }
    .main_section_title{
        width: 100%;
    }
    .main_section_navigator{
        width: 100%;
    }
    .line_navigator {
        background-color:  blue;
    }

    .gallery_1{
        display: inline;
    }
    .gallery_text_left{
        width: 100%;
    }
    .gallery_title_right{
        width: 100%;
    }
    .gallery_2{
        display: inline;
    }
    .gallery_title_left{
        width: 100%;
    }
    .gallery_text_right{
        width: 100%;
    }
    .gallery_3{
        display: inline;
    }

}
