/* Formato de toda la paguina */
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: "Perpetua", serif;
    text-align: justify;
    background-color: transparent;
}
/*Dimensiones del cuerpo de la página*/
body{
    width: 100%;
    height: 100%;
}
/*Tamaño y formato de los títulos*/
h2 {
    font-size: 4em;
    text-align: center;
}
h3 {
    font-size: 2.75em;
    text-align: center;
}
a{
    font-size: 1.3em;
    text-align: center;

}
/*Este titulo se usa para quitar los warning de recomendación.
   En realidad estos titulos no aparecen visibles la página web */
h6{
    display: none;
}
p {
    font-size: 1.5em;
}
li {
    font-size: 1.5em;
    margin-left: 2%;
}

/*Contenedor de la página 1, la que tiene la navegación, que va ser de tipo flex*/

.title_navigation_section{
    align-items: center;
    height: 100vh;
    background-image: url("../images/cafe_f.png");

    background-repeat: no-repeat;
    background-size: cover;

    width: 100%;
    max-height: 100%;
}
.page{
    width: 100%;
    height: 100vh;
    /*border-bottom: black 4px solid;*/
}
.page2{
    width: 100%;
    height: 100vh;
    /*border-bottom: black 4px solid;*/
    background-color: black;
    color: white;
}
/*Formato de la parte del titulo y el video de la primera página. Es un display de tipo flex que
contiene un grid */
.title_navigation_title_article {
    float: left;
    width: 35%;
    height: 100%;
    padding: 5%;

    /*background-image: url("../images/cafe_principal.jpg");*/

    display: grid;
    place-content: center;
    grid-template-rows: 1fr auto;

}
.title_navigation_title_article h2 {
    color: white;
    text-align: left;
}
/*Formato de los botones de navegacion. Este articulo es un flex a la derecha.
Contiene una malla para mostrar los ditintos botones  */
.title_navigation_nav {
    width: 65%;
    height: 100%;
    padding: 10%;
    padding-top: 3%;

    /*border-left: black 2px dashed;*
    /*border-bottom: black 4px solid;*/

    display: grid;
    /*Cuantas columnas hay en el navegador*/
    grid-template-columns: 1fr 1fr;
    grid-template-rows: 1fr 1fr 1fr 1fr;

}
/*Formato de los botones*/
.button_box{
    min-height: 40%;
    max-width: 40%;
    width: 30%;
    height: 80%;
    margin: 5%;
    margin-left: 70%;

    font-size: 1.3em;
    text-align: center;
    text-decoration: transparent;

    display: grid;
    place-items: center;
    position: relative;

    border-radius: 100%;
    border: #ffffff solid 4px;

    background-position: right center;
    background-size: cover;
    background-color: transparent;
    color: #ffffff;

    transition: all 1s ease;

    /*box-shadow: 0 15px 20px rgba(0,0,0,0.4);  */
}
/*Animación que ocurre cuando el ratón esta encima de los botones*/
.button_box:hover{
    background-color: rgb(255, 255, 255);
    color: black;
}
/*Formato del video embedido como iframe*/
.video-class {
    width: 100%;
    aspect-ratio: 16/9;
    margin-bottom: 20%;
    border: none;
    min-width: 100%;
}



/*Contenedor de las paginas donde el texto esta a la izquierda y la galeria a la derecha.
Los elementos de dentro tendran un dispay flex.
Serán iguales las páginas impares*/

/*Contenedor de las paginas donde el texto esta a la derecha y la galeria a la izquierda.
Los elementos de dentro tendran un dispay flex.
Serán iguales las páginas pares*/
/*
.page_1_section {
    width: 100%;
    height: 100vh;
    border-bottom: black 4px solid;
}

 */

/*Formato del contenedor del titulo y la galeria de imagenes que se encuantra a la derecha.*/
.gallery_title_right{
    float: right;
    width: 40%;
    height: 100%;
    padding: 2%;
    /*background-color: black;*/
}

/*Formato del contenedor del titulo y la galeria de imagenes que se encuantra a la  izquierda.*/
.gallery_title_left{
    float: left;
    width: 40%;
    height: 90%;
    padding: 2%;
    /*background-color: black;*/
}

/*Contenedor del texto que esta la derecha.
El texto que se encuentra en el interior es un grid, para poder centrarlo*/
.gallery_text_right{
    float: right;
    width: 60%;
    padding: 2%;
    height: 100%;
    display: grid;
    place-content: center;
    color: white ;

}

/*Contenedor del texto que esta la izquierda.
El texto que se encuentra en el interior es un grid, para poder centrarlo*/
.gallery_text_left{
    float: left;
    width: 60%;
    padding: 2%;
    height: 100%;
    display: grid;
    place-content: center;

}

.gallery_text_right div{
    padding: 2%;
    border: 5px double white;
    color: white ;

}
.gallery_title_right div p{
    color: white ;
}
.gallery_text_left div{
    padding: 2%;
    border: 5px double black;
}

#reg {
    color: white;
    padding: 4%;
    display: grid;
    place-content: center;
}

.cen{
    margin:auto;
    display: grid;
    place-content: center;
    width: 30%;
    height: auto;
    border-radius: 20px;
    background-color: #cbc5c5;

}

.cen form{

    font-size: 1.25em;
    padding: 10%;
    width: 100%;
    margin:auto;


}
.cajas{
    border-bottom:2px solid black;
}
.cen label{
    width: auto;
    color: black;
    top: 20px;
    transform: translateY(-50%);
}
input:focus~label,
input:valid~label{
    top:-5px;
}
.cen button{
    font-size: 0.75em;
    border: black  solid 2px;
    border-radius: 20px;
    background-color: white;
    color: black;
    padding: 5%;
    width: auto;
    margin: 2%;
    align-content: center;
}
.cen input{
    border: none;
    background-color: transparent;
    color: black;
    width: auto;


}
.reset{
    font-size: 0.75em;
    border: none;
    border-radius: 20px;
    color: white;
    padding: 5%;
    width: auto;
    margin: 2%;

}
.center{
    display: grid;
    place-content: center;


}
.center h2{
    text-align: center;

}
.e{

    display: grid;
    place-content: center center;
    grid-template-columns: 1fr 1fr;
    padding: 10% ;

}
.e div{
    padding: 10%;
    /*border: 5px double black;*/
    display: grid;
    grid-template-rows: 1fr 1fr 1fr;
    width: 30vw;
}

.center div a{
    text-decoration: transparent;
    font-size: 1em;
    color: black;
}

.e form{
    width: 30vw;
    text-align: center;

}
.e form input{
    border-radius:  20px;
    border: black;
    color: black;
    width: auto;
    text-align: center;

}



/*Contenedor de la galeria de imagnes, con el slider que aparece debajo, que hace que las imágenes se peguen*/
.slider{
    aspect-ratio: 3/4;
    height: 80%;
    position: relative;
    display: flex;
    overflow-y: hidden;
    overflow-x: scroll;
    scroll-snap-type: x mandatory;
    margin: auto;
    border-radius: 10px;
    min-width: auto;
    max-width: 90%;
}
/*Formato de las imagenes dentro de la galería*/
.slider img{
    flex: 1 0 auto;
    width: 100%;
    left: 0;
    scroll-snap-align: center;
}


/*Formato de los titulos de las páginas que tienen galeria
Cada uno tiene un id propio, pero como los textos son iguales, podemos darles una clase*/
.titulo_seccion{
    /*background-color: black;*/
    color: black;
    padding-bottom: 5%;
}
.titulo_seccion2{
    /*background-color: black;*/
    color: white;
    padding-bottom: 5%;
}
/*Contendor del footer. Esta fijo.*/
footer {
    clear: both;
    position: fixed;
    bottom: 0;
    width: 100%;
    height: 5%;
    background-color: black;
    color: white;
    text-align: center;
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    z-index: 3;
}
/*Formato del texto y los enlaces que se encuentra en footer*/
footer a {

    margin: auto;
    color: white;
    background-color: black;
    text-decoration: transparent;

}
/*Formato del logo de la pagina y del logo de instagram*/
.imagen{
    background-color: transparent;
    width: 15px;
    height: 15px;
}
.imagen2 {
    background-color: transparent;
    color : black;
}
.logo{
    background-color: transparent;

}
.logo2{
    background-color: transparent;
    width: 15px;
    height: 15px;
}
.ola{
    height: 10%;
    width: 100%;
    overflow: hidden;
    position: relative;
    bottom: 10%;
}
.ola svg{
    height: 100%;
    width: 100%;
}
.ola_negra{
    stroke: none;
    fill: #000000;
}
.ola_blanca{
    stroke: none;
    fill: #ffffff;
}
.i img{
    width: 15%;
    aspect-ratio: 4/3;
    object-fit: contain;
    mix-blend-mode: color-burn;
}

.nav_menu{
    display: none;
}
.abrir{
    display: none;
}

.nav_menu{
    display: none;
}
/* Galería con JavaScript*/

.new_slider{
    width: 410px;
    aspect-ratio: 3/4;
    border-radius: 10px;
    overflow: hidden;
    text-align: center;
    margin: auto;
}

.slides{
    width: 500%;
    height: 500px;
    display: flex;
}

.slides input{
    display: none;
}

.slide{
    width: 20%;
    transition: 2s;
}

.slide img{
    width: 410px;
    aspect-ratio: 3/4;
}

/* Navegación Manual */
.navigation-manual{
    position: absolute;
    width: 410px;
    margin-top: -40px;
    display: flex;
    justify-content: center;
}

.manual-btn{
    border: 2px solid black;
    padding: 5px;
    border-radius: 10px;
    cursor: pointer;
    transition: 1s;
}
.manual-btn:not(:last-child){
    margin-right: 40px;
}

.manual-btn:hover{
    background: black;
}

#radio1:checked ~ .first{
    margin-left: 0;
}

#radio2:checked ~ .first{
    margin-left: -20%;
}

#radio3:checked ~ .first{
    margin-left: -40%;
}

#radio4:checked ~ .first{
    margin-left: -60%;
}

#bebida_radio1:checked ~ .first{
    margin-left: -20%;
}
#bebida_radio2:checked ~ .first{
    margin-left: -40%;
}
#bebida_radio3:checked ~ .first{
    margin-left: -60%;
}
#bebida_radio4:checked ~ .first{
    margin-left: -60%;
}
#bebida_radio5:checked ~ .first{
    margin-left: -80%;
}
#bebida_radio6:checked ~ .first{
    margin-left: -100%;
}


/* Navegación automática coloreado */
.navigation-auto{
    position: absolute;
    display: flex;
    width: 410px;
    justify-content: center;
    margin-top: 460px;
}

.navigation-auto div{
    border: 2px solid black;
    padding: 5px;
    border-radius: 10px;
    transition: 1s;
}

.navigation-auto div:not(:last-child){
    margin-right: 40px;
}

#radio1:checked ~ .navigation-auto .auto-btn1{
    background: black;
}

#radio2:checked ~ .navigation-auto .auto-btn2{
    background: black;
}

#radio3:checked ~ .navigation-auto .auto-btn3{
    background: black;
}

#radio4:checked ~ .navigation-auto .auto-btn4{
    background: black;
}

#bebida_radio1:checked ~ .navigation-auto .radio_auto-btn1{
    background: black;
}
#bebida_radio2:checked ~ .navigation-auto .radio_auto-btn2{
    background: black;
}
#bebida_radio3:checked ~ .navigation-auto .radio_auto-btn3{
    background: black;
}
#bebida_radio4:checked ~ .navigation-auto .radio_auto-btn4{
    background: black;
}
#bebida_radio5:checked ~ .navigation-auto .radio_auto-btn5{
    background: black;
}
#bebida_radio6:checked ~ .navigation-auto .radio_auto-btn6{
    background: black;
}





.cerrar{
    display: none;
}
.tres_rayas{
    display: none;
}



/* Respponsive para tablet*/
@media screen and (min-width: 600px) and (max-width: 966px){

    .title_navigation_section{
        display: inline;
    }


    .title_navigation_title_article{
        width: 100%;
        background-image: url("../images/cafe_f.png");
    }
    .title_navigation_nav {
        display: none;
    }
    .video-class{
        margin-top: 40%;
    }
    .button_box{
        border: black solid 4px;
        color: black;
        min-height: 150px;
        max-width: 150px;
        font-size: 1em;

        padding: 5%;
        margin: 5%;
    }

    .page2{
        display: inline;
        background-color: black;
        color: white;
    }


    .page{
        display: inline;
    }
    .gallery_title_right{
        width: 100%;
        height: 95vh;
    }
    .gallery_title_left{
        width: 100%;
        height: 95vh;
    }
    .gallery_text_right{
        width: 99%;
        height: auto;

    }
    .gallery_text_left{
        width: 99%;
        height: auto;

    }
    footer{
        height: 7%;
    }
    .abrir{
        top:5%;
        right:5%;
        background-color:transparent;
        position: fixed;
        color: black;
        width: 5%;
        height: 3%;
        border: none;
    }
    .abrir img{
        display: block;
        width: 50px;
        height: 50px;
    }
    .nav_menu{
        top:0;
        right: 0;
        background-color: rgba(0, 0, 0, 0.72);
        position: fixed;
        width: 30%;
        height: 100%;
        text-align: center;
    }
    .hamburger{
        list-style-type: none;
        margin-top: 40%;
    }

    .hamburger li{
        text-align: center;
        margin: 15%;
    }
    .hamburger a{
        color: white;
        text-decoration: none;
    }


    .cerrar{
        top:5%;
        right: 5%;
        background-color: transparent;
        position: fixed;
        width: 5%;
        height: 3%;
        border: none;
    }
    .cerrar img{
        display: block;
        width: 50px;
        height: 50px;
    }
}

/* Responsive para telefonos móviles*/
@media screen and (max-width: 600px) {
    p {
        font-size: 1.5em;

    }
    li{
        font-size: 1.5em;
        margin-left: 5%;
    }

    .title_navigation_section{
        display: inline;
    }


    .title_navigation_title_article{
        width: 100%;
        background-image: url("../images/cafe_f.png");
    }
    .title_navigation_nav{
        display: none;
        width: 100%;
        border-left: none;
    }
    .page{
        display: inline;
    }

    .page2{
        display: inline;
        background-color: black;
        color: white;

    }


    .gallery_title_right{
        width: 100%;
        height: auto;
    }
    .gallery_title_left{
        width: 100%;
        height: auto;
    }
    .gallery_text_right{
        width: 99%;
        height: auto;
    }
    .gallery_text_left{
        width: 99%;
        height: auto;

    }

    footer{
        height: 7%;
    }
    .abrir{
        top:5%;
        right:5%;
        background-color:transparent;
        position: fixed;
        color: black;
        width: 5%;
        height: 3%;
    }
    .abrir img{
        display: block;
        width: 50px;
        height: 50px;
    }
    .nav_menu{
        top:0;
        right: 0;
        background-color: rgba(0, 0, 0, 0.72);
        position: fixed;
        width: 30%;
        height: 100%;
        text-align: center;
    }
    .hamburger{
        list-style-type: none;
        margin-top: 40%;
    }

    .hamburger li{
        text-align: center;
        margin: 15%;
    }
    .hamburger a{
        color: white;
        text-decoration: none;
    }


    .cerrar{
        top:5%;
        right: 5%;
        background-color: transparent;
        position: fixed;
        width: 5%;
        height: 3%;

    }
    .cerrar img{
        display: block;
        width: 50px;
        height: 50px;
        filter: brightness(0.9) invert(.7) sepia(.5) hue-rotate(100deg) saturate(200%);
    }
}